<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeemaster.menu.mapper.MenuMapper">
    <select id="menuList" resultType="MenuVO">
select distinct menu.menuno, menu.menuname, menu.menuprice, menu.divisionno, image.imageno, image.imageadd, image.temno
from menu
inner join image on menu.menuno = image.menuno
where mainImage = 1 order by menu.menuNo asc    </select>
    
    <select id="menuProperty" resultType="menuPropertyVO">
 </select>
 
 <select id="menu" resultType="menuVO">
 select menuNo, menuName, menuPrice from menu where menuNo = ${menuNo}
 </select>


<select id="menuBean" resultType="menuPropertyVO">
select beanNo from beans_menu where menuNo = ${menuNo}
</select>
<select id="menuSize" resultType="menuPropertyVO">
select sizeNo from sizes_menu where menuNo = ${menuNo}
</select>
<select id="menuTem" resultType="menuPropertyVO">
select temNo from tem_menu where menuNo = ${menuNo}
</select>


<select id="menuImage" resultType="menuPropertyVO">
select imageAdd,temNo,mainImage from image where menuNo = ${menuNo}
</select>


</mapper>