<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeemaster.cart.mapper.CartMapper">
   <select id="cartList" resultType="menuPropertyVO">
   SELECT c.cartNo,m.menuName, b.beanName, t.temName, s.sizeName, c.quantity, m.menuPrice 
FROM cart c
JOIN menu m ON c.menuNo = m.menuNo
LEFT JOIN beans b ON c.beanNo = b.beanNo
JOIN temperature t ON c.temNo = t.temNo
JOIN sizes s ON c.sizeNo = s.sizeNo
   	</select>
   	
   	<insert id="cartInsert">
   	insert into cart(cartNo , menuNo, beanNo , temNo,sizeNo, quantity)
	values(cart_seq.nextval, ${menuNo},
	<if test="beanNo != null">${beanNo}</if>
	<if test="beanNo == null">null</if>
	
	,${temNo},${sizeNo},${quantity})
   	</insert>
   	
   	<delete id="cartReset">
   	delete from cart
   	</delete>
   	
   	<update id="cartQuantityMinus">
   		update cart set quantity = quantity- 1 where cartNo = ${cartNo}
   	</update>
   	<update id="cartQuantityPlus">
   		update cart set quantity = quantity + 1 where cartNo = ${cartNo}
   	</update>
   	
   	<delete id="cartDelete">
   		delete from cart where cartNo = ${cartNo}
   	</delete>
</mapper>